alias update='sudo pacman -Syyu'
alias install-app='sudo pacman -S '
alias uinstall-app='sudo pacman -R '
alias fetch='fastfetch'
alias confedit='vim .config'
alias sctl='sudo systemctl '
alias disku='gdu /'
alias setwall='hyprctl hyprpaper reload , '
