* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.608);
}

button {
    	border-radius: 10px;
	text-decoration-color: #000000;
    	color: #ffffff;
	background-color: rgba(35, 35, 35, 0.926);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70px;
	border: none;
	margin: 0 10px;
	padding: 0 4px;
	font-family: "Karla";
	font-size: 15px;
}

button:focus, button:active, button:hover {
	background-color: rgba(132,167,191,0.7);
	color: #000000;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
